<template>
    <article class="contact">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="contact__heading">КОНТАКТЫ</h1>
                <hr class="contact__line">
                <h4 class="contact__head">Адрес</h4>
                <p class="contact__text"> БЦ  Нурлы Тау, Блок 2В Офис 302</p>
                <hr class="contact__line">
                <h4 class="contact__head">Телефон</h4>
                <a href="tel:+7 (727) 44 54 32" class="contact__link">+7 (727) 44 54 32</a>
                <a href="tel:+7 (727) 45 52 33" class="contact__link">+7 (727) 45 52 33</a>
                <a href="tel:+7 701 726 26 15" class="contact__link contact__link--last">+7 701 726 26 15</a>
                <hr class="contact__line">
                <h4 class="contact__head">E-mail</h4>
                <a href="mailto:www.medtranslate.kz" class="contact__link contact__link--last">info.sulu@gmail.com</a>
            </div>
            <div class="col-sm-7 contact__map">
                <div id="map"></div>
            </div>
	    </div>
        <div class="row">
            <p class="contact__licens">Пользовательское соглашение</p>
            <p class="contact__licens">Лицензия № 2147232581</p>
            <p class="contact__copyr">Copyright (c) Rixos, 2018</p>
        </div>
    </article>
</template>

<script>
    export default {
        mounted() {
            this.$nextTick(this.initMap())
        },
        methods: {
            initMap() {
                let locations = [
                    ['Байзакова 311, уг. ул. Габдуллина', 43.228283,76.915204, ],
                ];

                let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 18,
                    center: new google.maps.LatLng(43.228283,76.915204),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                let iconBase = new google.maps.MarkerImage(
                    '../images/marker.svg',
                    null, /* size is determined at runtime */
                    null, /* origin is 0,0 */
                    null, /* anchor is bottom center of the scaled image */
                    new google.maps.Size(40, 45)
                );

                let infowindow = new google.maps.InfoWindow({maxWidth: 200});

                let marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        icon: iconBase,
                        map: map
                    });

                    google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
                        return function() {
                            infowindow.close();
                        }
                    })(marker, i));
                    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                        return function() {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
        }
    }
</script>



