<template>
    <div>
        <div class="about__map">
            <h3 class="main__heads main__heads--map">
                МЫ НА КАРТЕ
            </h3>
	    </div>
        <div class="about__maps">
            <div id="karta"></div>
        </div>
    </div>
</template> 

<script>
    export default {
        mounted() {
            this.$nextTick(this.initMap())
        },
        methods: {
            initMap() {
                let locations = [
                    ['Байзакова 311, уг. ул. Габдуллина', 43.228283,76.915204, ],
                ];

                let map = new google.maps.Map(document.getElementById('karta'), {
                    zoom: 18,
                    center: new google.maps.LatLng(43.228283,76.915204),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                let iconBase = new google.maps.MarkerImage(
                    '../images/marker.svg',
                    null, /* size is determined at runtime */
                    null, /* origin is 0,0 */
                    null, /* anchor is bottom center of the scaled image */
                    new google.maps.Size(40, 45)
                );

                let infowindow = new google.maps.InfoWindow({maxWidth: 200});

                let marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        icon: iconBase,
                        map: map
                    });

                    google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
                        return function() {
                            infowindow.close();
                        }
                    })(marker, i));
                    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                        return function() {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
        }
    }
</script>

