<template>
    <div class="about__center">
		<h3 class="about__head about__head--white">ЗАГАЛОВОК</h3>
		<div class="about__row">
			<div class="about__col">
				<p class="about__txt about__txt--white">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
			</div>
			<div class="about__col">
				<p class="about__txt about__txt--white">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
			</div>
		</div>
	</div>
</template>
