<template>
    <div class="about__types">
		<h3>Основные виды <br>деятельности компании </h3>
		<div class="about__row">
			<a class="about__link" href="inner.html">
				<div class="about__col about__col--type">
					<p class="about__name">Средства для мытья посуды</p>
				</div>
			</a>
			<a class="about__link" href="inner.html">
				<div class="about__col about__col--type">
					<p class="about__name">Смягчители ополаскиватели</p>
				</div>
			</a>
		</div>
		<div class="about__row about__row--top">
			<a class="about__link" href="inner.html">
				<div class="about__col about__col--type">
					<p class="about__name">Производство мыла</p>
				</div>
			</a>
			<a class="about__link" href="inner.html">
				<div class="about__col about__col--type">
					<p class="about__name">Автошампуни</p>
				</div>
			</a>
		</div>
        <router-link to="/catalog">
            <button class="main__btn main__btn--type">ПЕРЕЙТИ В КАТАЛОГ</button>
        </router-link>
	</div>
</template>
