<template>
    <div class="about__info">
		<div class="about__row">
			<div class="about__cols">
				<h3 class="main__heads main__heads--about">
					ЗАГАЛОВОК <br> О ПРОИЗВОДСТВЕ <br> КОМПАНИИ RIXOS
				</h3>
				<p class="main__txt main__txt--info">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
			</div>
			<div class="about__cols">
				<img src="/images/main-info.png" alt="">
			</div>
		</div>
	</div>
</template>
