<template>
    <footer id="footer" class="footer ">
    <div class="footer__row">
        <router-link to="/" class="footer__logo">
            <img src="/images/logo.png" alt="">
        </router-link>
    </div>
    <div class="footer__row">        
        <div class="footer__cols">
            <h2 class="footer__callback">ОБРАТНАЯ СВЯЗЬ</h2>
            <p class="footer__detailed">Для более подробной информации свяжитесь с нами по <a href="">e-mail</a></p>
            <p class="footer__headings footer__headings--first">Адрес:</p>
            <p class="footer__links footer__links--prg">Байзакова 311, уг. ул. Габдуллина</p>
            <p class="footer__headings footer__headings--sec">Телефон: </p>
            <a class="footer__links footer__links--firts" href="tel:+7-707-355-23-24">+ 7 - 707 - 355 - 23 - 24</a>
            <a class="footer__links footer__links--sec" href="tel:+7-707-345-25-12">+ 7 - 707 - 345 - 25 -12</a>
            <p class="footer__headings footer__headings--th">E-mail:</p>
            <a class="footer__links footer__links--th" href="mailto:rixos@marketing.kz">rixos@marketing.kz</a>
        </div>
        <div class="footer__cols">
            <form class="footer__form" action="">
                <input class="footer__input" type="text" name="" id="" placeholder="Имя">
                <input class="footer__input" type="text" name="" id="" placeholder="Телефон">
                <input class="footer__input" type="text" name="" id="" placeholder="E-Mail">
                <input class="footer__send" type="submit" name="" id="" value="Отправить">
            </form>
        </div>
    </div>
    <div class="footer__row">
        <div class="footer__cols">
            <h3 class="footer__head">КАЧЕСТВО ПРЕВЫШЕ ВСЕГО</h3>
        </div>
        <div class="footer__cols footer__cols--menu">
            <ul class="footer__list">
                <li class="footer__item">
                    <router-link class="footer__link" to="/about">О КОМПАНИИ</router-link>
                </li>
                <li class="footer__item">
                    <router-link class="footer__link" to="/catalog">КАТАЛОГ</router-link>
                </li>
                <li class="footer__item">
                    <router-link class="footer__link" to="/contacts">КОНТАКТЫ</router-link>
                </li>
            </ul>
        </div>

    </div>
    <div class="footer__row">
        <div class="footer__cols">
            <p class="footer__copyr">Copyright (c) Rixos 2018</p>
        </div>
        <div class="footer__cols footer__cols--inner">
            <div class="footer__row footer__row--inner">
                <p class="footer__we">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</p>
                <div class="footer__social">
                    <a href=""><img src="/images/vk.png" alt=""></a>
                    <a href=""><img src="/images/face.png" alt=""></a>
                    <a href=""><img src="/images/insta.png" alt=""></a>
                </div>
                <a class="footer__created">Created by BrandStudio</a>
            </div>
        </div>
    </div>
</footer>
</template>
