<template>
    <header id="header" class="header">
        <div class="header__info">
            <div class="header__col header__col--tel">
                <a class="header__tel" href="tel:+ 7 (747) 855 88 23">+ 7 (747) 855 88 23</a>
                <p class="header__call">Круглосуточный Call-Центр </p>
            </div>
        <!--  <div class="header__col header__col--lang">
                <a class="header__lang"><span class="header__lg">Рус</span><span class="header__arr"><img src="images/arr.png" alt=""></span></a>
                <div class="header__dropdown">
                    <div class="header__col header__col--inner">
                        <a class="header__langs" href="">Рус</a>
                        <a class="header__langs" href="">Каз</a>
                    </div>
                </div>
            </div> -->
        </div>  
    </header>
</template>
