<template>
    <div class="main-nav">
        <div class="main-nav__logo">
            <router-link to="/">
                <img src="/images/logo.png" alt="">
            </router-link>
        </div>
        <div class="main-nav__menu">

            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <router-link class="main-nav__link" to="/about">О КОМПАНИИ</router-link>
                </li>
                <li class="main-nav__item drop" @mouseenter="onMouseOver" @mouseleave="onMouseLeave">
                    <router-link 
                        class="main-nav__link main-nav__link--drop" 
                        to="/catalog">
                            КАТАЛОГ
                            <span class="main-nav__arr">
                                <img src="/images/arrow.png" alt="">
                            </span>
                    </router-link>
                </li>
                <li class="main-nav__item">
                    <router-link class="main-nav__link" to="/contacts">КОНТАКТЫ</router-link>
                </li>
            </ul>
            <CatalogList></CatalogList>
        </div>
        <MobHeader></MobHeader>
    </div>
</template>

<script>
import MobHeader from '@/components/inc/MobHeader'
import CatalogList from '@/components/UI/CatalogList'

export default {
    components: {
        MobHeader, CatalogList
    },
    methods: {
        onMouseOver() {
            document.querySelector('.main-nav__list').classList.add('lists')
            document.querySelector('.list').classList.add('show-list')
            document.querySelector('.main-nav__arr').classList.add('change')
        },
        onMouseLeave() {
            document.querySelector('.main-nav__list').classList.remove('lists')
            document.querySelector('.list').classList.remove('show-list')
            document.querySelector('.main-nav__arr').classList.remove('change')
        }
    }
}
</script>

