<template>
     <article class="mob-header">
            <input id="mob-header__checkbox" type="checkbox" class="mob-header__checkbox">
            <label for="mob-header__checkbox" class="mob-header__label">
                <span class="mob-header__icon">&nbsp;</span>
            </label>
            <div class="mob-header__background">&nbsp;</div>
            <nav class="mob-header__nav">
                <ul class="mob-header__list">
                    <li class="mob-header__item"><router-link to="/about" class="mob-header__link">О КОМПАНИИ</router-link></li>
                        <li class="mob-header__item"><router-link to="/catalog" class="mob-header__link">КАТАЛОГ</router-link></li>
                        <li class="mob-header__item"><router-link to="/contacts" class="mob-header__link">КОНТАКТЫ</router-link></li>
                        <li class="mob-header__item">
                            <h4 class="main-nav__headings">Адрес:</h4>
                            <p class="main-nav__txt">БЦ  Нурлы Тау, Блок 2В Офис 302</p>
                            <h4 class="main-nav__headings">Телефон:</h4>
                            <a class="main-nav__txt" href="tel:+7 (727) 44 54 32">+7 (727) 44 54 32</a>
                            <a class="main-nav__txt" href="tel:+7 (727) 45 52 33">+7 (727) 45 52 33</a>
                            <a class="main-nav__txt" href="tel:+7 701 726 26 15">+7 701 726 26 15</a>
                            <h4 class="main-nav__headings">E-mail:</h4>
                            <a class="main-nav__txt" href="mailto:info.sulu@gmail.com">info.sulu@gmail.com</a>
                            <h4 class="main-nav__headings">Мы в социальных сетях</h4>
                            <div class="main-nav__row">
                                <a href=""><img class="main-nav__icon" src="/images/vk.png" alt=""></a>
                                <a href=""><img class="main-nav__icon" src="/images/face.png" alt=""></a>
                                <a href=""><img class="main-nav__icon" src="/images/insta.png" alt=""></a>
                            </div>
                        </li>
                </ul>
            </nav>
    </article>
</template>
