<template>
    	<div class="catalog__all">
			<div class="catalog__row catalog__row--prod row" v-for="p in Math.ceil(products.length / 4)" :key="p.id">
				<router-link
                    :to="product.url"
                    v-for="product in products.slice((p-1) * 4, p * 4)"
                    :key="product.id"
                    class="col-sm-3"
                >
		  			<div class="main__cols">
		  				<img :src="product.image" alt="">
                        <h5 class="main__name">{{ product.name }}</h5>
                        <p class="main__desc">{{ product.excerpt }}</p>
		  			</div>
	  			</router-link>
			</div>
			<pagination :pagination="pagination" :offset="4"></pagination>
		</div>
</template>

<script>
import Pagination from '@/components/UI/Pagination'

export default {
    props: {
        products: {
            type: Array,
            required: true
        },
        pagination: {
            type: Object,
            required: true
        }
    },
    components: {
        Pagination
    }
}
</script>

