<template>
  <div class="catalog__allMob">
    <div class="catalog__row catalog__row--prod">
      <router-link v-for="product in products" :key="product.id" :to="product.url">
        <div class="main__cols main__cols--margin">
          <img :src="product.image" alt="">
          <h5 class="main__name">{{product.name}}</h5>
          <p class="main__desc">{{product.excerpt}}</p>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import Pagination from '@/components/UI/Pagination'

export default {
    props: {
        products: {
            type: Array,
            required: true
        },
        pagination: {
            type: Object,
            required: true
        }
    },
    components: {
        Pagination
    }
}
</script>
