<template>
    <div class="catalog__listWrap">
			<div class="list list--catalog">
	            <h3 class="list__head">Список продукции</h3>
	            <div class="list__row">
	                <div class="list__cols" v-for="cat in Math.ceil(categories.length / 10)" :key="cat.slug">
	                    <ul class="list__ls">
	                        <li class="list__item" v-for="category in categories.slice((cat-1) * 10, cat * 10)" :key="category.slug">
	                            <router-link
									:to="'/catalog/' + category.slug" 
									:class="['list__link', {'list__link--drop' : category.children.length > 0 }, {'list__link--active' : category.slug === $route.params.category}]" 
								>
									{{category.name}}
									<span class="list__arr" v-if="category.children.length > 0"><img src="/images/arrow.png" alt=""></span>
								</router-link>
								<div class="list__drop" v-if="category.children.length > 0">
									<router-link
										:to="'/catalog/' + category.slug + '?child=' + child.slug"
										v-for="child in category.children"
										@click.native="hideCatalogs"
										:key="child.slug"
										class="list__link">
										{{ child.name }}
									</router-link>
                            	</div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
</template>

<script>
export default {
    computed: {
        categories() {
            return this.$store.getters.loadedCategories
        }
    }
}
</script>

