<template>
  <div class="catalog__row catalog__row--filter">
    <div class="catalog__cols">
      <h4 class="catalog__heading">ПРОДУКЦИЯ</h4>
    </div>
    <div class="catalog__cols">
      <div class="catalog__row catalog__row--form">
        <form @submit.prevent="onSearch">
          <div class="catalog__search">
            <input class="catalog__input" type="text" name="" id="" v-model="query">
            <button class="catalog__btn" id="myBtn" type="submit">
              <img src="/images/loupe.png" alt="">
            </button>
          </div>
          <div class="catalog__selectWrap">
            <button class="catalog__type" @click.prevent="showCategories">
              {{categoryName}}
              <span class="catalog__arr">
                <img src="/images/arrow2.png" alt="">
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: ['categoryName'],
    data() {
      return {
        query: this.$route.query.search || ''
      }
    },
    methods: {
      onSearch() {
        if (this.query.length > 0) {
          this.$router.push({
            path: this.$route.path,
            query: {
              search: this.query
            }
          })
        } else {
          this.$router.push({
            path: this.$route.path
          })
        }
      },
      showCategories() {

        if (window.outerWidth > 600) {
          document.querySelector('.catalog__type').classList.toggle('activeBtn')
          document.querySelector('.catalog__all').classList.toggle('hides')
          document.querySelector('.catalog__listWrap').classList.toggle('catalog__listWrap--shows')
          document.querySelector('.catalog__heads').classList.toggle('catalog__heads--hide')
        } else {
		  document.querySelector('.catalog__type').classList.toggle('activeBtn')
		  document.querySelector('.catalog__allMob').classList.toggle('hides')
          document.querySelector('.catalog__listWrap').classList.toggle('catalog__listWrap--shows')
          document.querySelector('.catalog__heads').classList.toggle('catalog__heads--hide')

		}

      }
    }

  }
</script>
