<template>
    <article class="inner">
        <div class="inner__row">
			<div class="inner__col">
				<h3 class="inner__name">{{product.name}}</h3>
				<p class="inner__status">{{product.status}}</p>
				<img :src="product.image" alt="">
			</div>
			<div class="inner__col">
				<h4 class="inner__character" v-if="product.appointment">НАЗНАЧЕНИЕ</h4>
				<p class="inner__txt inner__txt--main" v-if="product.appointment">{{ product.appointment }}</p>
				<h4 class="inner__character" v-if="product.application_area">ОБЛАСТЬ ПРИМЕНЕНИЯ</h4>
				<p class="inner__txt inner__txt--main" v-if="product.application_area">{{ product.application_area }}</p>
				<h4 class="inner__character" v-if="consumer_properties">ПОТРЕБИТЕЛЬСКИЕ СВОЙСТВА</h4>
				<ul class="inner__list">
					<li class="inner__item" v-for="(property, index) in product.consumer_properties" :key="index">
						{{property.name}}
					</li>
				</ul>
			</div>
		</div>
        <div id="characters" class="inner__charWrap">
			<h4 class="inner__character">ХАРАКТЕРИСТИКИ</h4>
				<!-- <h5 class="inner__general">Основные</h5> -->
				<div class="inner__row inner__row--inn" v-for="(character, index) in product.characteristics" :key="index">
					<div class="inner__cols">
						<p class="inner__txt inner__txt--heading">{{character.name}}</p>
					</div>
					<div class="inner__cols">
						<p class="inner__txt">{{character.desc }}</p>
					</div>
				</div>
		</div>
        <div class="inner__seeWrap" v-if="product.recommended_products.length > 0">
			<h3 class="inner__see">СМОТРИТЕ ТАКЖЕ</h3>
		</div>
		<RecommendedProducts :recommended-products="product.recommended_products" v-if="product.recommended_products"></RecommendedProducts>
    </article>
</template>

<script>
import axios from '@/plugins/axios'
import RecommendedProducts from '@/components/UI/RecommendedProducts.vue'

export default {
	components: {
		RecommendedProducts
	},
	head () {
      return {
        title: this.product.name
      }
    },
    async asyncData (context) {
		const { data } = await 
				axios.get(`/categories/${context.params.category}/products/${context.params.product}`, {
					params: {
						with: 'characteristics,appointment,application_area,recommended_products,consumer_properties'
					}
				})
       
       return {
           product: data.data
       }
    }
}
</script>


