<template>
    <article class="catalog">
        <CatalogHead :title="title"></CatalogHead>
        <CatalogTxt :text="description"></CatalogTxt>
        <CatalogRowFilter :category-name="categoryName"></CatalogRowFilter>
        <h3 class="catalog__heads">{{categoryName}}</h3>
        <CatalogProductList :products="products" :pagination="pagination"></CatalogProductList>
        <CatalogMobProductList :products="products" :pagination="pagination"></CatalogMobProductList>
        <CatalogNav></CatalogNav>
    </article>
</template>

<script>
  import CatalogHead from '@/components/Catalog/CatalogHead'
  import CatalogTxt from '@/components/Catalog/CatalogTxt'
  import CatalogRowFilter from '@/components/Catalog/CatalogRowFilter'
  import CatalogProductList from '@/components/Catalog/CatalogProductList'
  import CatalogMobProductList from '@/components/Catalog/CatalogMobProductList'
  import CatalogNav from '@/components/Catalog/CatalogNav'


  import axios from '@/plugins/axios'

  export default {
    components: {
      CatalogHead,
      CatalogTxt,
      CatalogRowFilter,
      CatalogProductList,
      CatalogMobProductList,
      CatalogNav
    },
    data() {
      return {
        description: 'Лучшая компания по производству жидких продуктов в Казахстане'
      }
    },
    head () {
      return {
        title: this.categoryName
      }
    },
    async asyncData({
      route
    }) {
      let page = route.query.page || 1
      let category = route.params.category
      let subCategory = typeof route.query.child === 'undefined' ? '' : route.query.child + '/'
      let search = route.query.search !== undefined ? '&search=' + route.query.search : ''

      const productRes = await axios.get(`/categories/${category}/${subCategory}products?page=${page}${search}`)
      return {
        products: productRes.data.data,
        pagination: productRes.data.meta,
        category: productRes.data.meta.category,
        categoryName: productRes.data.meta.category.name,
        title: 'КАТАЛОГ / ' + productRes.data.meta.category.name
      }
    },
    watchQuery: ['page', 'search'],

  }
</script>
