<template>
    <div id="certs" class="main__certs">
  		<h3 class="main__heads">КАЧЕСТВО ПОДТВЕРЖДЕНО СЕРТИФИКАТАМИ</h3>		
  		<div class="main__certificates">
		  <div v-for="cert in certs" :key="cert.id">
		  	<img :src="cert.image" alt="">
		  </div>
		</div>
  	</div>
</template>

<script>
export default {
    computed: {
        certs() {
            return this.$store.getters.loadedCerts
        }
	},
	mounted () {
		$('.main__certificates').slick({
			dots: true,
			infinite: false,
			speed: 300,
			slidesToShow: 3,
			slidesToScroll: 3,
			arrows: true,
			responsive: [
				{
				breakpoint: 1024,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2,
					dots: true
				}
				},
				
				{
				breakpoint: 768,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				}
				},
				{
				breakpoint: 480,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				}
				}
				// You can unslick at a given breakpoint now by adding:
				// settings: "unslick"
				// instead of a settings object
			]
		});
	}
}
</script>

