<template>
  <div class="main__mobSlider">
    <div class="mob-slider">
      <div v-for="slider in sliders" :key="slider.id">
        <img :src="slider.image" alt="">
        <p class="main__mobSlideTxt" v-html="slider.title"></p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      sliders: {
        type: Array,
        required: true
      },
    },
    mounted() {
      this.$nextTick(this.initSlickCarousel())
    },
    methods: {
      initSlickCarousel() {
        $('.mob-slider').slick({
          dots: true,
          arrows: false,
        });
      }
    }
  }
</script>