<template>
    <div id="partners" class="main__partners">
  		<h3 class="main__heads">НАШИ ПАРТНЕРЫ</h3>
  		<p class="main__txt main__txt--prod">МЫ РАБОТАЕМ С ВЫСОКОКВАЛИФИЦИРОВАННЫМИ КОМПАНИЯМИ, КОТОРЫЕ МОГУ ПОДТВЕРДИТЬ КАЧЕСТВО НАШЕЙ ПРОДУКЦИИ</p>
  		<div class="main__row row" v-for="p in Math.ceil(partners.length / 4)" :key="p.id">
  			<div class="col-sm-3 main__cols" v-for="partner in partners.slice((p-1) * 4, p * 4)" :key="partner.id">
  				<img :src="partner.logo" alt="">
  			</div>
  		</div>
  	</div>
</template>

<script>
export default {
    computed: {
        partners () {
            return this.$store.getters.loadedPartners
        }
    }
}
</script>

