<template>
  <div class="responsive">
    <div v-for="recProduct in recommendedProducts" :key="recProduct.id">
      <router-link :to="recProduct.url">
        <div class="inner__wrapper">
          <img :src="recProduct.image" alt="">
          <h5 class="main__name">{{recProduct.name}}</h5>
          <p class="main__desc" v-if="recProduct.excerpt">{{recProduct.recProduct}}</p>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      recommendedProducts: {
        type: Array,
        required: true
      },
    },
    mounted() {
      this.$nextTick(this.initSlickCarousel())
    },
    methods: {
      initSlickCarousel() {
        $('.responsive').slick({
          dots: false,
          infinite: true,
          speed: 300,
          arrows: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          responsive: [{
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });
      }
    }
  }
</script>