<template>
    <div class="slider-wrap">
		<!-- <div class="main__video-mask"></div> -->
		<ul class="constructionSlider">
            <li v-for="slider in sliders" :key="slider.id">
                <h3 class="main__head" v-html="slider.title"></h3>
                <img class="main__bans" :src="slider.image" alt="">
            </li>
		</ul>
		
		<div class="bx-pager">
			<ul>
                <li v-for="(slider, index) in sliders" :key="index"><a :data-slide-index="index" href=""></a></li>
            </ul>
			<div class="progress"><span></span></div>
		</div>
		<div class="slider-controls">
			<span id="slider-prev"></span>
			<span id="slider-next"></span>
		</div>
	</div>
</template>

<script>
export default {
    props: {
        sliders: {
            type: Array,
            required: true
        }
    },
    mounted () {
        $('.constructionSlider').bxSlider({
            auto: true,
            pagerCustom: '.bx-pager',
            controls:true,
            nextSelector: '#slider-next',
            prevSelector: '#slider-prev',
            nextText: '&rsaquo;',
            prevText: '&lsaquo;',
            speed:1500,
            pause:2000,
        })

    }
}
</script>

