<template>
  <article class="main">
    <Slider :sliders="sliders"></Slider>
    <MobSlider :sliders="sliders"></MobSlider>
    <MainAbout></MainAbout>
    <MainAdvantages></MainAdvantages>
    <MainProducts :featured-categories="featuredCategories"></MainProducts>
    <Partners></Partners>
    <Certifications></Certifications>
  </article>

</template>

<script>
import axios from '@/plugins/axios'
import Slider from '@/components/UI/Slider'
import MobSlider from '@/components/UI/MobSlider'
import MainAbout from '@/components/Home/MainAbout'
import MainAdvantages from '@/components/Home/MainAdvantages'
import MainProducts from '@/components/Home/MainProducts'
import Partners from '@/components/UI/Partners'
import Certifications from '@/components/UI/Certifications'

export default {
  components: {
    Slider, MobSlider, MainAbout, MainAdvantages, MainProducts, Partners, Certifications
  },
  head() {
    return {
      title: 'Главная страница'
    }
  },
  async asyncData(context) {
    let [sliderRes, featuredCatRes] = await Promise.all([
      axios.get('/partials/sliders'),
      axios.get('/categories/featured?include=products')
    ])

    return {
      sliders: sliderRes.data.data,
      featuredCategories: featuredCatRes.data.data
    }
  }   
}
</script>

