<template>
    <div id="about" class="main__about">
  		<h3 class="main__heads">О КОМПАНИИ</h3>
  		<p class="main__txt">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев 
			более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык 
			публичных выступлений в домашних условиях.</p>
        <router-link to="/about"><button class="main__btn">О КОМПАНИИ</button></router-link>
  	</div>
</template>
