<template>
    <div id="center" class="main__center">
  		<img class="main__descCenter" src="/images/center-img.png" alt="">
  		<img class="main__mobCenter" src="/images/center-mob.png" alt="">
  	</div>
</template>
