<template>
    <div id="advantages" class="main__advantages">
  		<h3 class="main__heads main__heads--adv">ПРЕИМУЩЕСТВА</h3>
  		<!-- <p class="main__txt">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p> -->
  		<div class="main__row">
  			<div class="main__cols main__cols--text">
  				<div>
	  				<p class="main__txt main__txt--adv main__txt--bold">
	  					Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
	  				</p>
	  				<p class="main__txt main__txt--adv">
	  					осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
	  				</p>
  				</div>
  			</div>
  			<div class="main__cols main__cols--adv">
  				<ul class="main__list">
  					<li class="main__item main__item--active">Сайт рыбатекст поможет дизайнеру</li>
  					<li class="main__item">Верстальщику, вебмастеру</li>
  					<li class="main__item">Несколько абзацев более менее</li>
  					<li class="main__item">Текста рыбы на русском языке</li>
  					<li class="main__item">А начинающему оратору отточить</li>
  				</ul>
  			</div>
  		</div>
  	</div>
</template>
