<template>
    	<div id="products" class="main__products">
  		<h3 class="main__heads">ПРОДУКЦИЯ</h3>
  		<p class="main__txt main__txt--prod">В НАШЕМ АССОРТИМЕНТЕ БОЛЬШОЙ ВЫБОР САМОЙ РАЗНОЙ ПРОДУКЦИИ. ЛУЧШИЕ ПРОДУКТЫ, ПО САМЫМ ВКУСНЫМ ЦЕНАМ</p>
  		<div v-for="category in featuredCategories" :key="category.slug">
            <h4 class="main__heading main__heading--first">{{ category.name }}</h4>
            <div class="main__row main__row--first row">
                <router-link v-for="product in category.products" :key="product.slug" :to="product.url" class="col-sm-3">
                    <div class="main__cols">
                        <img :src="product.image" alt="">
                        <h5 class="main__name">{{ product.name }}</h5>
                        <p class="main__desc">{{ product.excerpt }}</p>
                    </div>
                </router-link>
            </div>
        </div>
        <router-link to="/catalog">
            <button class="main__btn main__btn--cat">КАТАЛОГ</button>
        </router-link>
  
  	</div>
</template>

<script>
export default {
    props: {
        featuredCategories: {
            type: Array,
            required: true
        },
    }
}
</script>

