<template>
  <article class="about">
    <AboutMain></AboutMain>
    <AboutAdv></AboutAdv>
    <AboutCenter></AboutCenter>
    <AboutTypes></AboutTypes>
    <AboutMap></AboutMap>
    <Partners></Partners>
    <Certifications></Certifications>
  </article>
</template>

<script>
  import AboutMain from '@/components/About/AboutMain'
  import AboutAdv from '@/components/About/AboutAdv'
  import AboutCenter from '@/components/About/AboutCenter'
  import AboutTypes from '@/components/About/AboutTypes'
  import AboutMap from '@/components/About/AboutMap'
  import Partners from '@/components/UI/Partners'
  import Certifications from '@/components/UI/Certifications'

  export default {
    components: {
      AboutMain,
      AboutAdv,
      AboutCenter,
      AboutTypes,
      AboutMap,
      Partners,
      Certifications
    },
    head() {
        return {
          title: 'О компании'
        }
    },

  }
</script>